<div class="nav-list">
  <a class="p-button" routerLink="home" routerLinkActive="active">Home</a>
  <a class="p-button" routerLink="lists" routerLinkActive="active">My Lists</a>
  <a class="p-button" routerLink="notes" routerLinkActive="active">My Notes</a>
  <a class="p-button" routerLink="todos" routerLinkActive="active">My Todos</a>
  <a class="p-button" routerLink="shared" routerLinkActive="active">Shared Lists</a>
  <a class="p-button" routerLink="assigned" routerLinkActive="active">Assigned Todos</a>
</div>