#layout-header {
  position: relative;
  z-index: 2;
  background: white;
  box-shadow: 0 0 3px #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  #header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    > img {
      width: 50px;
    }
    > .app-title {
      color: var(--primary-color);
      font-weight: bold;
      font-size: 26px;
    }
  }
}